<h1>Смена пароля для <%= @user.name %></h1>
<p>Ваш логин: <%= @user.login %></p>
<p>Вы запросили смену пароля, если Вы этого не делали - проигнорируйте это письмо</p>
<p>Чтобы поменять пароль перейдите по ссылке <a href="<%= @href %>">смена пароля</a> либо по url <%= @href %></p>