html {
  .MuiFormControl-marginDense {
    margin: 4px 0 4px 0;
    background: #efefef;
    border-radius: 5px;
  }
  .thw-200 {
    th {
      width: 300px;
    }
  }
  .client-status-search {
    width: 230px;
    display: flex;
    margin: 0 10px;
  }
}
