// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 61px;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 220px;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 90px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 3rem;

$primary: #343a40;
$light_primary: #cccccc;
$secondary: #343a40;
$first: #2196f3;
$shadow: #333333;
$border: #dee2e6;
$negative: #999999;
$background: #f5f5f5;
$positive: #037c1d;
$alert: #cc4444;
