
.not_found {
  text-align: center;
  font-family: auto;
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 21px;
  }
  hr {
    border-top: 1px #999999 solid;
    margin: 0 0 6px 0;
  }
}





  
  	
